<h1>CREAR PRODUCTO</h1>


<% if(typeof error != 'undefined'){%>
    <p> MENSAJE: <%= error %></p>
<% }%>

<form action="/producto/crearDesdeVista" method="POST">
    <% const existeNombre = typeof nombre !== 'undefined'%>
    <label for="nombre">Nombre:</label>
    <input id="nombre" type="text" name="nombre" value="<%= existeNombre ? nombre: '' %>">
    <br>
    <button type="submit">SUBMIT</button>
    <button type="reset">RESET</button>
    <button type="button">BUTTON</button>
    <button>adf</button>

</form>


