<% const existeRol = typeof rol !== 'undefined'%>

<% let existeNombre = typeof nombre !== 'undefined'%>

<h1> <%= existeNombre ? 'Editar': 'Crear' %> rol</h1>

<% if(existeRol) {%>
    <% existeNombre = true %>

    <% nombre = rol.nombre%>

<%}%>

<% if(typeof error != 'undefined'){%>
    <p> MENSAJE: <%= error %></p>
<% }%>

<form action=" <%= existeRol ? '/rol/editarDesdeVista/' + rol.rolId : '/rol/crearDesdeVista'%>" method="POST">

    <label for="nombre">Nombre:</label>
    <input id="nombre" type="text" name="nombre" value="<%= existeRol ? nombre: '' %>">
    <br>
    <button type="submit">SUBMIT</button>
    <button type="reset">RESET</button>


</form>


