<h1>ADMINISTRADOR</h1>

<ul>
    <li>
        <a href="/producto/inicio">PRODUCTOS</a>
    </li>
    <li>
        <a href="/unidad/vista/inicio">UNIDADES</a>
    </li>
    <li>
        <a href="/rol/vista/inicio">ROLES</a>
    </li>
    <li>
        <a href="usuario/vista/inicio">USUARIOS</a>
    </li>
</ul>
