<h1>CLIENTE</h1>

<ul>
    <li>
<!--        ESTE HREF TOCA CAMBIAR ***************************-->
        <a href="/compartido/menu/cliente">VER PRODUCTORES</a>
    </li>
    <li>
        <a href="/unidad/vista/inicio">VER PRODUCTOS</a>
    </li>
    <li>
        <% const id = 3 %>
        <a href="/factura/vista/inicio/<%= id%>">MIS PEDIDOS</a>
    </li>
</ul>
