<ul>
    <li>
        <a href="/usuario/vista/inicio">inicio</a>
    </li>
    <li>
        <a href="/usuario/vista/faq">faq</a>
    </li>
    <li>
        <a href="/usuario/vista/login">login</a>
    </li>

</ul>